登記申請書を完成させるために下記の質問にご回答ください。

<%# 質問事項 %>
<%= form_with model:"" ,url:"#", local: true do |f| %>
  <div class="annotation">抵当権が抹消した日付</div>
    <%= raw sprintf(
      f.date_select(
        :reason_date,
        class:"reason-date",
        use_month_numbers: true,
        prompt:"--"
        start_year: 1960,
        end_year: Time.now.year,
        date_separator: "%s",
        "<p>年</p>","<p>月</p>","<p>日</p>" %>

  <div class="annotation">抵当権が消滅した理由</div>
    <%= f.text_field :reason, class:"reason", placeholder:"解除・放棄など" %>

  <div class="annotation">設定されている抵当権の受付年月日と番号</div>
    <%= f.text_field :receipt_number, class:"receipt-number", placeholder:"平成○年○月○日受付第○○号" %>

  <div class="annotation">設定されている抵当権の共同担保目録</div>
    <%= f.text_field :catalog_number, class:"catalog-number", %>

  <div class="annotation">抵当権者（金融機関や保証会社）の情報</div>
    <%= f.text_field :other_party_address, class:"other-party-address", placeholder:"住所" %> 
    <%= f.text_field :other_party_name, class:"other-party-name", placeholder:"例）株式会社〇〇" %>  
    <%= f.text_field :other_party_ceo, class:"other-party-ceo", placeholder:"例）代表取締役 〇〇" %>
    <%= f.number_field :other_party_number, class:"other-party-number", placeholder:"12桁の数字" %>  

  <div class="annotation">申請書を法務局に提出する年月日</div>
    <%= raw sprintf(
      f.date_select(
        :application_date,
        class:"application-date",
        use_month_numbers: true,
        prompt:"--"
        start_year: Time.now.year,
        end_year: (Time.now.year + 1 ),
        date_separator: "%s",
        "<p>年</p>","<p>月</p>","<p>日</p>" %>  <%= f.text_field :reason, class:"reason", %>

  <%= f.text_field :reason, class:"reason", %>
  <%= f.text_field :reason, class:"reason", %>
  <%= f.text_field :reason, class:"reason", %>
  <%= f.text_field :reason, class:"reason", %>
  <%= f.text_field :reason, class:"reason", %>
