<div class="session-wrapper">
  <div class="session-wrapper2">
    <h2 class="session-title">ログイン情報を入力</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="session-field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="session-field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="session-field", id="session-remenberable">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログイン情報を保持する" %>
        </div>
      <% end %>

      <div class="session-actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>

    <div class="session-foot">
      <%= render "devise/shared/links"%>
    </div>
  </div>
</div>
